/* Custom styles and overrides */

.container {
  width: 80vw;
}

.navbar-brand {
  font-size: 3rem;
  text-shadow: 2px 2px 8px rgba(82, 168, 236, 0.6), 2px 2px 4px #000000;
}

.jumbotron {
  background-color: #2b3e50;
  margin-bottom: 0;
  padding: 32px;
}

.navbar-toggler {
  border: none;
  outline: none;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.05) inset,
    0px 0px 8px rgba(82, 168, 236, 0.6);
}

.card {
  line-height: 0.6rem;
  transition: all 0.3s ease-in;
}

.card:hover {
  transform: scale(1.1);
  border: 1px solid rgb(86, 180, 239);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.05) inset,
    0px 0px 8px rgba(82, 168, 236, 0.6);
}

.card-title {
  text-shadow: 2px 2px 8px rgba(82, 168, 236, 0.6), 2px 2px 4px #000000;
}

.btn {
  border-radius: 3px;
}

.badge {
  font-size: 0.9rem;
}
.far,
.fab {
  padding: 0 5px;
}
